 /* for adding two number */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .App {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 100px;
    background: #ffefef;
    min-height: 100vh;
    color: #5e026aae;
    box-shadow: #201e21;
    
  }
  
  h1 {
    margin-bottom: 50px;
    text-shadow:5px 5px 15px -5px rgb(73, 0, 73);
  }
  
  .number-inputs {
    margin-bottom: 20px;
  }
  
  input {
    font-size: 80px;
    border-radius: 20px;
    border: 1px solid #fffcfc;
    width: 25%;
    padding: 10px;
    text-align: center;
    background: rgb(255, 254, 253);
    color:rgb(207, 0, 207);
    box-shadow:5px 5px 15px -5px rgb(155, 25, 155) ;
  }
  
  input:first-child {
    margin-right: 20px;
  }
  
  button {
    padding: 20px 30px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    border-radius: 20px;
    background: #a300d4;
    border: none;
    margin-bottom: 50px;
    color: #f5edf7;
    cursor: pointer;
    box-shadow:5px 5px 15px -5px rgb(19, 0, 19) ;
  }
  
  h3 {
    font-size: 100px;
  }
   